<div class="container" >
  <form class="row flex-column justify-content-center mt-5">

    <h1>FORMULAIRE</h1>

    <div class="form-group">
      <label for="name">Your name</label>
      <input [(ngModel)]="addUser.name" type="text" class="form-control" id="name" name="name" placeholder="Your name">
    </div>

    <div class="form-group">
      <label for="firstName">Your first name</label>
      <input [(ngModel)]="addUser.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name">
    </div>

    <div class="form-group">
      <label for="timeInternet">Time on internet (hour)</label>
      <input [(ngModel)]="addUser.onInternet" type="number" class="form-control" id="timeInternet" name="timeInternet" placeholder="Number">
    </div>

    <div class="form-group">
      <label for="appreciated">Appreciated our form</label>
      <div class="rangeContent">
        <span>0 </span>
        <input [(ngModel)]="addUser.appreciated" type="range" class="form-control" id="appreciated" name="appreciated" min="0" max="100" value="90" step="10">
        <span> 100</span>
      </div>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>Do you recommend our website ?</legend>
        <input [(ngModel)]="addUser.recommendation" type="radio" id="yes" name="recommend" value="true" checked>
        <label for="yes" id="yesLabel">Yes</label>
        <input [(ngModel)]="addUser.recommendation" type="radio" id="no" name="recommend" value="false">
        <label for="no">No</label>
      </fieldset>

    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>

  </form>
</div>
