

<div class="container">
  <div class="row flex-column ">
    <h1>USER LIST</h1>
    <div class="userContent">

      <ul class="list-group list-group-flush">
        <li>
          <div class="container">
            <div class="row">
              <span class="offset-1 col-md-2">Name</span>
              <span class="col-md-2">First Name</span>
              <span class="col-md-2">Time on internet</span>
              <span class="col-md-2">Appreciated</span>
              <span class="col-md-2">Recommendation</span>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let user of users">
          <div class="container">
            <div class="row">
              <div class="name offset-1 col-md-2">{{ user.name }}</div>
              <div class="firstName col-md-2">{{ user.firstName }}</div>
              <div class="onInternet col-md-2">{{ user.onInternet }}</div>
              <div class="appreciated col-md-2">{{ user.appreciated }}</div>
              <div class="recommendation col-md-2">{{ user.recommendation }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


